<header class="header">
    <div class="header__infobar">
        <div class="section">
            <p><i class="ri-map-pin-2-line"></i> ul. Rynek Zygmunta Starego 35, 05-480 Karczew</p>
            <p><i class="ri-mail-line"></i> ospkarczew@op.pl</p>
            <p><i class="ri-alarm-warning-line"></i> 998 & 112</p>
        </div>
        <div class="section">
            <a href="https://www.facebook.com/ospkarczew/" target="_blank"><i class="ri-facebook-circle-line"></i></a>
        </div>
    </div>
    <nav class="header__nav">
        <a class="logo" href="{{ path('app_index') }}">
            <img src="{{ asset('images/herb.png') }}" alt="Herb OSP Karczew" />
            <h1 class="logo__name">OSP Karczew</h1>
        </a>
        <ul>
            <li>
                <a href="/">Strona Główna</a>
            </li>
            <li>
                <a href="/">Historia</a>
            </li>
            <li>
                <a href="/">Statystyki</a>
            </li>
            <li>
                <a href="/">Rekrutacja</a>
            </li>
            <li>
                <a href="/">Kontakt</a>
            </li>
        </ul>
    </nav>
</header>